@model CarsPlatform.Web.ViewModels.ForumPosts.ForumPostCreateInputModel
@{ this.ViewData["Title"] = "New post";
                var forumCategories = Model.ForumCategories.Select(x => new SelectListItem(x.Name, x.Id.ToString())); }

<h1 class="text-center text-white">@this.ViewData["Title"]</h1>
<hr style="background-color:white" />
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });</script>

<form method="post" class="text-center text-white col-md-4 offset-4" asp-action="CreatePost">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <br />
    <div>
        <label asp-for="ForumCategoryId"></label>
        <select asp-for="ForumCategoryId" asp-items="forumCategories" class="form-control"></select>
        <span asp-validation-for="ForumCategoryId" class="text-danger"></span>
    </div>
    <hr style="background-color:white" />
    <input type="submit" class="btn btn-warning" value="Submit" />
</form>